## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/08/21 01:19:54 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/a679cf61b9b1372665d79a306157d0f9dc07dbc0) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/32435286422) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/32435826993) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/32435837529)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/96636962966)
