## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/08/28 10:00:44 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/e81e2f7a32b1ad173daf4742e05cae53e0df1cae) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/33159803365) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/33161344626) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/33161361877)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/98817409823)
