## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/10/02 04:15:57 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/e81e2f7a32b1ad173daf4742e05cae53e0df1cae) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/36962932474) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/36963610420) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/36963624677)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/110702991070)
