## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/10/08 04:42:21 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/e81e2f7a32b1ad173daf4742e05cae53e0df1cae) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/37727896752) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/37728597992) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/37728666821)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/113152836920)
