## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/09/30 04:10:31 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/e81e2f7a32b1ad173daf4742e05cae53e0df1cae) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/36666865815) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/36667520972) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/36667534070)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/109735632874)
