## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/09/26 03:43:15 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/e81e2f7a32b1ad173daf4742e05cae53e0df1cae) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/36215125120) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/36215596277) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/36215605411)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/108331025120)
