## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/10/06 05:03:52 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/e81e2f7a32b1ad173daf4742e05cae53e0df1cae) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/37415838908) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/37416560028) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/37416580264)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/112116702741)
