## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/10/07 04:32:00 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/e81e2f7a32b1ad173daf4742e05cae53e0df1cae) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/37570956768) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/37571665312) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/37571686223)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/112632192842)
