## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/09/06 03:06:56 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/e81e2f7a32b1ad173daf4742e05cae53e0df1cae) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/34007750510) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/34008115442) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/34008126795)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/101419110287)
