## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/09/12 03:20:02 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/e81e2f7a32b1ad173daf4742e05cae53e0df1cae) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/34669547756) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/34669967863) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/34669977223)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/103489661065)
