## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/09/03 03:07:17 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/e81e2f7a32b1ad173daf4742e05cae53e0df1cae) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/33709542319) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/33710080378) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/33710108641)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/100507814616)
