## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/08/30 03:50:45 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/e81e2f7a32b1ad173daf4742e05cae53e0df1cae) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/33290752795) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/33291092471) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/33291102258)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/99202957416)
