## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/09/25 03:37:51 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/e81e2f7a32b1ad173daf4742e05cae53e0df1cae) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/36090402732) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/36091019924) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/36091032498)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/107933607883)
