## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/08/26 01:20:07 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/1128f3b008dcf4b672cfa1207f0fd0cce2f18ccf) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/32917924544) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/32918484422) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/32918494767)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/98027345465)
