## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/08/23 01:21:30 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/d7bb5f3fa24f8c7bbe9e13b2e10ab60621a40071) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/32609731442) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/32610098176) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/32610108016)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/97121763126)
