## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/10/04 04:31:15 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/e81e2f7a32b1ad173daf4742e05cae53e0df1cae) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/37176687312) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/37177109448) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/37177119465)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/111362294986)
