## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/10/01 04:22:27 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/e81e2f7a32b1ad173daf4742e05cae53e0df1cae) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/36813895894) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/36814617321) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/36814638622)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/110217448140)
