## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/08/25 01:17:33 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/1128f3b008dcf4b672cfa1207f0fd0cce2f18ccf) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/32796324739) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/32796856545) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/32796872141)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/97650163074)
