## Runtime Test Results

:x: **The test workflows are failing. Please check the run logs.** :x:

### Validation Tests


Generated on: 2026/10/03 03:59:26 UTC

[Commit](https://github.com/ConsentiumIoT/arduino-esp32/commit/e81e2f7a32b1ad173daf4742e05cae53e0df1cae) / [Build and QEMU run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/37094437098) / [Hardware and Wokwi run](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/37094927730) / [Results processing](https://github.com/ConsentiumIoT/arduino-esp32/actions/runs/37094941838)

[Test results](https://github.com/ConsentiumIoT/arduino-esp32/runs/111123068598)
